<section class="section single_news">
    <div class="section__content single_news__content">
        <div class="single_news__header">
            <h3 class="single_news__title"><a href="">Завтра объявляется набор в группу по путешествию в Африку на
                    самокате</a></h3>
            <div class="single_news__meta">
                <p class="single_news__date">10.02.2025</p>
                <a class="single_news__category">Категория: путешествия</a>
            </div>
        </div>

        <div class="single_news__image_wrapper">
            <a class="news_post_preview__image__link" href="#"><img class="single_news__image" src="/img/preview_news.jpg"
                                                                    alt="Article Image"></a>
        </div>

        <div class="short_news_list short_news_list--single">
            <article class="short_news_preview">
                <div class="short_news_preview__image_wrapper">
                    <a class="news_post_preview__image__link" href="#"><img class="short_news_preview__image"
                                                                            src="/img/preview_news.jpg" alt="Article Image"></a>
                </div>
                <div class="short_news_preview__header">
                    <h3 class="short_news_preview__title"><a href="">Завтра объявляется набор в группу по путешествию в
                            Африку на самокате</a></h3>
                    <div class="short_news_preview__meta">
                        <p class="short_news_preview__date">10.02.2025</p>
                        <a class="short_news_preview__category">Категория: путешествия</a>
                    </div>
                </div>
            </article>
            <article class="short_news_preview">
                <div class="short_news_preview__image_wrapper">
                    <a class="news_post_preview__image__link" href="#"><img class="short_news_preview__image"
                                                                            src="/img/preview_news.jpg" alt="Article Image"></a>
                </div>
                <div class="short_news_preview__header">
                    <h3 class="short_news_preview__title"><a href="">Завтра объявляется набор в группу по путешествию в
                            Африку на самокате</a></h3>
                    <div class="short_news_preview__meta">
                        <p class="short_news_preview__date">10.02.2025</p>
                        <a class="short_news_preview__category">Категория: путешествия</a>
                    </div>
                </div>
            </article>
            <article class="short_news_preview">
                <div class="short_news_preview__image_wrapper">
                    <a class="news_post_preview__image__link" href="#"><img class="short_news_preview__image"
                                                                            src="/img/preview_news.jpg" alt="Article Image"></a>
                </div>
                <div class="short_news_preview__header">
                    <h3 class="short_news_preview__title"><a href="">Завтра объявляется набор в группу по путешествию в
                            Африку на самокате</a></h3>
                    <div class="short_news_preview__meta">
                        <p class="short_news_preview__date">10.02.2025</p>
                        <a class="short_news_preview__category">Категория: путешествия</a>
                    </div>
                </div>
            </article>
        </div>

        <div class="single_news__text_content">
            <p class="single_news__text">
                Штрафы ГИБДД за нарушение правил дорожного движения призваны повысить дисциплину среди автомобилистов. С 1 января 2025 года они будут увеличены: за какие нарушения ПДД повысится сумма штрафа: превышение скорости, проезд на красный свет, езда без ремня безопасности и другие; что будет с размером скидки за своевременную оплату, таблица новых изменений, - в материале РИА Новости.
                Штрафы ГИБДД с 1 января 2025 года
                <br><br>
                Госдума приняла в третьем чтении закон об увеличении штрафов за большинство дорожных нарушений. Закон вступит в силу с 1 января 2025 года.
                Эти изменения обусловлены необходимостью повышения безопасности на дорогах, поскольку действующие санкции перестали оказывать сдерживающее воздействие. Александр Коротков, эксперт CEO проекта "Likvi.com" объясняет, что последний раз штрафы пересматривались в 2013 году, а за прошедшие годы инфляция превысила 70%, что существенно снизило их значимость для многих водителей. Новые штрафы нацелены на ужесточение ответственности за наиболее распространённые и опасные нарушения, такие как превышение скорости, управление автомобилем в состоянии алкогольного опьянения и использование телефона за рулём.
            </p>

            <button class="single_news__test_btn">Блок поделиться</button>
        </div>

    </div>
    <div class="section__bg"></div>
</section>
