<section class="section news_category">
    <div class="section__content news_category__content">
        <ul class="news_category__list">
            <li class="news_category__item">
                <a class="news_category__link">
                    <img class="news_category__link__img"  src="/img/preview_section.png" alt="">
                    <h2 class="news_category__link__title">Путешествия</h2>
                </a>
            </li>
            <li class="news_category__item">
                <a class="news_category__link">
                    <img class="news_category__link__img"  src="/img/preview_section.png" alt="">
                    <h2 class="news_category__link__title">Путешествия</h2>
                </a>
            </li>
            <li class="news_category__item">
                <a class="news_category__link">
                    <img class="news_category__link__img"  src="/img/preview_section.png" alt="">
                    <h2 class="news_category__link__title">Путешествия</h2>
                </a>
            </li>
            <li class="news_category__item">
                <a class="news_category__link">
                    <img class="news_category__link__img"  src="/img/preview_section.png" alt="">
                    <h2 class="news_category__link__title">Путешествия</h2>
                </a>
            </li>
            <li class="news_category__item">
                <a class="news_category__link">
                    <img class="news_category__link__img"  src="/img/preview_section.png" alt="">
                    <h2 class="news_category__link__title">Путешествия</h2>
                </a>
            </li>
        </ul>
        <a href=""></a>
    </div>
</section>
