<section class="section main_news">
    <div class="section__content main_news__content">
        <div class="main_news_preview__header">
            <h3 class="main_news_preview__title"><a href="">Завтра объявляется набор в группу по путешествию в Африку на
                    самокате</a></h3>
            <div class="main_news_preview__meta">
                <p class="main_news_preview__date">10.02.2025</p>
                <a class="main_news_preview__category">Категория: путешествия</a>
            </div>
        </div>

        <div class="main_news_preview__image_wrapper">
            <a class="news_post_preview__image__link" href="#"><img class="main_news_preview__image" src="/img/preview_news.jpg"
                                                          alt="Article Image"></a>
        </div>

        <div class="short_news_list">
            <article class="short_news_preview">
                <div class="short_news_preview__image_wrapper">
                    <a class="news_post_preview__image__link" href="#"><img class="short_news_preview__image"
                                                                  src="/img/preview_news.jpg" alt="Article Image"></a>
                </div>
                <div class="short_news_preview__header">
                    <h3 class="short_news_preview__title"><a href="">Завтра объявляется набор в группу по путешествию в
                            Африку на самокате</a></h3>
                    <div class="short_news_preview__meta">
                        <p class="short_news_preview__date">10.02.2025</p>
                        <a class="short_news_preview__category">Категория: путешествия</a>
                    </div>
                </div>
            </article>
            <article class="short_news_preview">
                <div class="short_news_preview__image_wrapper">
                    <a class="news_post_preview__image__link" href="#"><img class="short_news_preview__image"
                                                                  src="/img/preview_news.jpg" alt="Article Image"></a>
                </div>
                <div class="short_news_preview__header">
                    <h3 class="short_news_preview__title"><a href="">Завтра объявляется набор в группу по путешествию в
                            Африку на самокате</a></h3>
                    <div class="short_news_preview__meta">
                        <p class="short_news_preview__date">10.02.2025</p>
                        <a class="short_news_preview__category">Категория: путешествия</a>
                    </div>
                </div>
            </article>
            <article class="short_news_preview">
                <div class="short_news_preview__image_wrapper">
                    <a class="news_post_preview__image__link" href="#"><img class="short_news_preview__image"
                                                                  src="/img/preview_news.jpg" alt="Article Image"></a>
                </div>
                <div class="short_news_preview__header">
                    <h3 class="short_news_preview__title"><a href="">Завтра объявляется набор в группу по путешествию в
                            Африку на самокате</a></h3>
                    <div class="short_news_preview__meta">
                        <p class="short_news_preview__date">10.02.2025</p>
                        <a class="short_news_preview__category">Категория: путешествия</a>
                    </div>
                </div>
            </article>
        </div>
    </div>

</section>
