<section class="section category_desc">
    <div class="section__content category_desc__content">
        <div class="category_desc__header">
            <h1 class="news_category__title">Категория: Путешествия</h1>
            <ul class="news_category_breadcrumbs"><li class="news_category_breadcrumbs__item"><a href="">Главная</a></li><li class="news_category_breadcrumbs__item"><a href="">Путешествия</a></li></ul>
        </div>
        <div class="category_desc__desc">
            Здесь краткое описание анонса здесь краткое описние анонса здесь краткое описание анонса Здесь краткое описание анонса здесь краткое описние анонса здесь краткое описание анонсаЗдесь краткое описание анонса здесь краткое описние анонса здесь краткое описание анонса
        </div>
    </div>
</section>
