<header class="header">
        <nav class="header__nav">
            <button class="header__burger_btn">
                <i class="icon">
                    {% include 'assets/icon/burger.svg' %}
                </i>
            </button>
            <a class="header__logo">
                <i class="icon">{% include 'assets/img/logo.svg' %}</i>
            </a>
            <a class="header__social_link" href="">
               <i class="icon"> {% include 'assets/icon/tg.svg' %} </i>
               <span> @KIT_SITE </span>
            </a>
        </nav>
</header>
