<section class="section news_list">
    <div class="section__content">
        <div class="news_preview__list">
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
        </div>
        <div class="ad_block">
            <div class="ad_block__content">
                <p>Рекламный блок</p>
            </div>
        </div>
    </div>
</section>

<section class="section news_list">
    <div class="section__content">
        <div class="news_preview__list">
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
        </div>
        <div class="ad_block">
            <div class="ad_block__content">
                <p>Рекламный блок</p>
            </div>
        </div>
    </div>
</section>

<section class="section news_list">
    <div class="section__content">
        <div class="news_preview__list">
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
            <article class="news_post_preview">
                <h3 class="news_post_preview__title">Завтра объявляется набор в группу по путешествию в Африку на самокате</h3>
                <p class="news_post_preview__description">Здесь краткое описание анонса здесь краткое описание анонса здесь краткое описание анонса</p>
                <div class="news_post_preview__meta">
                    <p class="news_post_preview__date">10.02.2025</p>
                    <a class="news_post_preview__category">Категория: путешествия</a>
                </div>
                <div class="news_post_preview__image_wrapper">
                    <img class="news_post_preview__image" src="/img/preview_news.jpg" alt="Article Image">
                </div>
            </article>
        </div>
    </div>
</section>

