<!DOCTYPE html>

{% from "component/head/head.njk" import head as head %}

{{ head() }}

<body>

<div class="content">
    {% include 'component/header/header.njk' %}
    {% include 'component/news_category/news_category.njk' %}

    {% include 'component/single_news/single_news.njk' %}

    {% include 'component/footer/footer.njk' %}
</div>

</body>
<script src="/js/App.js"></script>

